body {
    background-image: url(party.jpg);
    background-size: cover;
}

.wholesite {
    height: 100%;
}

a, a:visited {
    color: black;
}

table, th, td {
    border: 1px solid;
}

nav {
    text-align: center;
}

.btn {
    background-color: red;
    border-radius: 1px 1px 5px 5px;    
    margin: 0px;
    padding: 5px;
    opacity: 90%;
}

.dashboard-btn {
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(207, 65, 217);
    margin-top: -5px;
}

.form {
    display: grid;
    grid-template-columns: auto auto auto;
}

.form2 {
    display: grid;
    grid-template-columns: auto auto;
}

container {
    height: fit-content;
    margin: 100px auto; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: red;
    border-radius: 50px;
    opacity: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    gap: 5px;
  }