body {
    background-image: url(party.jpg);
    background-size: cover;
}

.wholesite {
    height: 100%;
}

nav {
    text-align: center;
}

.btn {
    background-color: red;
    border-radius: 0px 0px 5px 5px;    
    margin: 0px;
    padding: 5px;
    opacity: 90%;
}

container {
    margin: 100px;
    display: flex;
    justify-content: center;
    background-color: red;
    border-radius: 50px;
    opacity: 100%;
    height: 20vh;
    color: black;
}