<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="wholesite">
        <nav>
            <a class="btn" href="/">Hjem</a>
            <a class="btn" href="/registration">Påmelding</a>
            <a class="btn" href="/login">Adminisstrasjon</a>
        </nav>
        <container>
            {%block content%}    

            {%endblock%}
        </container>
    </div>
</body>
</html>