{%extends "layout.html"%}
{%block content%}
<h2>Påmelding</h2>   
<form action = "/savedetails" method="post">  
<table>  
    <tr>
        <td>Navn</td>
        <td><input type="text" name="fnavn" required></td>
    </tr>  
    <tr>
        <td>Etternavn</td>
        <td><input type="text" name="enavn" required></td>
    </tr>  
    <tr>
        <td>Epost</td><td>
            <input type="email" name="epost" required></td>
    </tr>  
    <tr>
        <td>Telefonnr</td>
        <td><input type="number" name="telefon" required></td>
    </tr>  
    <tr>
        <td><input type="submit" value="Submit"></td></tr>  
</table>  
</form>  
{%endblock%}